body {
	margin-top: 50px;
}

/*Images*/
.image-fit {
	width: 100%;
	height: auto;
}

.title-image {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

.page-logo {
	padding-top: 10px;
	width: 50%;
	max-width: 500px;
	display: block;
    margin: 0px auto;
}

.logo {
	width: 120px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 20px;
}


/*HR*/
.next-close {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid black;
}

.next {
	width: 75%;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid black;
}

.hr-attention {
	width: 75%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid white;
}

/*Other*/
.location {
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	min-height: 30px;
}

.description {
	padding-top: 2%;
	padding-bottom: 5%;
}

a.anchor {
    display: block;
    position: relative;
    top: -49px;
    visibility: hidden;
}

.custom-btn {
	padding-bottom: 10px;
}

.credit-bar {
	position: relative;
	background-color: black;
	width: 100%;
	height: 300px;
}

/*Text*/
.heading-text {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Oxygen', sans-serif;
	color: #FFF;
}

.credit-color {
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	position:absolute;
	top: 20%;
	left: 0px;
	right: 0px;
	font-size: 20px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
}


body {
	margin-top: 50px;
}

.static-nav {
	margin-top: 0px;
}

/*Images*/
.image-fit {
	width: 100%;
	height: auto;
}

.title-image {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

.action {
	padding: 10px;
}

.page-logo {
	padding-top: 10px;
	width: 50%;
	max-width: 500px;
	display: block;
    margin: 0px auto;
}

.logo {
	width: 120px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 20px;
}

.contact-picture {
	padding: 10px;
	width: 70px;
}


/*HR*/
.next-close {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid black;
}

.next {
	width: 75%;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid black;
}

.hr-attention {
	width: 75%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid white;
}

/*Other*/
.location {
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
}

.description {
	padding-top: 2%;
	padding-bottom: 5%;
}

a.anchor {
    display: block;
    position: relative;
    top: -49px;
    visibility: hidden;
}

.credit-bar {
	position: relative;
	background-color: black;
	width: 100%;
	height: 300px;
}

.static-location {
	display: block;
	margin:0px auto;
	width: 90%;
	max-width: 999px;
}
/*Text*/
.heading-text {
	font-family: 'Oxygen', sans-serif;
	color: #FFF;
}

.credit-color {
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	position:absolute;
	top: 20%;
	left: 0px;
	right: 0px;
	font-size: 20px;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
}